<!DOCTYPE html>
<html ng-app="all_mart">
  <head>
    <title>All Mart 0.2.1</title>
          <link rel="stylesheet" href="../css/style.css"/>

          <script type="text/javascript" src="../js/angular.min.js"></script>

    <script type="text/javascript" src="../js/allmart.js"></script>
    <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body class="container" ng-controller="StoreController as store">
    <iframe name="iframe_iga" id="iframe_iga" src="http://magasin.iga.net/default.aspx?ct=true" ></iframe>
    <input type="file" id="file_database" hidden=True onchange="callback_databasefile_changed();"> <!-- hidden field for import dialog -->
      

       <script type="text/javascript">
            function on_searchform_submit()
            {
                var cmd_prefix = "http://magasin.iga.net/Search/BasicSearch.aspx?Search=";
                var cmd_arg1   = document.getElementById('searchbox').value;
                var cmd = cmd_prefix.concat(cmd_arg1);
                window.open(cmd, "iframe_iga");
            }
        </script>
        
        
      <nav >
            <ul>
                <li>
                    <a href="#">ALLMART</a>
                </li>
                <li><a href="http://magasin.iga.net/default.aspx?ct=true" target="_blank">IGA Login</a></li>
                <li><a href ng-click="store.save()">Save</a></li>
                <li><a href ng-click="store.load()">Load</a></li>
                <li><a href ng-click="store.export()">Export</a></li>
                <li><a href id="button_import_database" onclick="callback_button_import();"><strike>Import</strike></a></li>
                <li><a href ng-click="store.debug()">Debug</a></li>
                <li>
                    <form style="float:right;" onsubmit="on_searchform_submit()">
                        <input type="text" value="Search item" onfocus="this.value='';" style="font-size:12px;" id="searchbox">
                    </form>
                </li>
            </ul>
        </nav>
        
      
    
      
    <div id="content">
        <!-- This thingy will be used to send javascript event to the iga website. -->
    
        
        <!-- List -->
        <h2>List:</h2>
        <form name="list" ng-submit="store.add_list_to_cart()">
            <textarea rows="4" cols="50" ng-model="store.list_input" onfocus="this.value='';" id="input_list">Paste your grocery list here.</textarea><br>
            <button type="submit" value="submit">Submit</button>
        </form>

        <!-- Cart -->
        <h2 style="margin-top:2em;">Cart:</h2>
        <form name="cart" ng-submit="callback_button_apply()">
          <table id="database">
            <tr class="product row" ng-repeat="product in store.cart">
              <td>
                <img ng-src="{{product.thumbnail}}" width=32 height=32/>
                <a href="http://magasin.iga.net/Member/AddToQuickList.aspx?Quantity=1&ProductID={{product.code}}" target="iframe_iga">
                  <textarea ng-model="product.name"></textarea>
                </a>
              </td>
              <td>
                  <div ng-class="(product.code.length == 18) ? 'valid' : 'invalid'">
                    <textarea ng-model="product.code"></textarea>
                  </div>
              </td>
            </tr>
            </table>
            <div class="buttons">
                <button ng-click="store.cart = []">Clear</button>
                <button ng-click="store.buy()">Buy</button>
            </div>
        </form>
        
        <!-- Angular.js port -->
        <h2>All Products:</h2>

        <form name="products" ng-submit="callback_button_apply()">
          <table>
            <tr class="product row" ng-repeat="product in store.products">
              <td>
                <img ng-src="{{product.thumbnail}}" width=32 height=32/>
                <a href="http://magasin.iga.net/Member/AddToQuickList.aspx?Quantity=1&ProductID={{product.code}}" target="iframe_iga">
                  <textarea ng-model="product.name"></textarea>
                </a>
              </td>
              <td>
                  <div ng-class="(product.code.length == 18) ? 'valid' : 'invalid'">
                    <textarea ng-model="product.code"></textarea>
                  </div>
              </td>
            </table>
        </form>
    
    </div>
      
  </body>
</html>
